body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: "Kanit", sans-serif;
    font-style: normal;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(183, 183, 183);
}

header a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    padding-left: 100px;
}

.switcher {
    padding-right: 100px;
    font-weight: 300;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

#searchInput {
    width: 400px;
    padding: 10px 150px 10px 10px;
    background-color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 15px 10px 15px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

#searchInput:focus {
    outline: none;
    border-color: rgb(136, 136, 136);
    box-shadow: 0 0 10px rgba(220, 220, 220, 0.5);
}

#submit-btn {
    font-size: 16px;
    padding: 10px;
    /* width: 5%; */
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container {
    width: 70%;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.current-weather {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.weather-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.weather-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#country {
    color:#6e6e6e;
    font-size: 15px;
    margin-bottom: -10px;
}

#city {
    font-size: 50px;
    margin: 0 0 -10px 0;
}

.temperature {
    font-size: 200px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.city-and-degrees {
    display: flex;
    flex-direction: column;
}

.additional-info {
    display: flex;
    flex-direction: row;
    width: 350px;
    flex-wrap: wrap;
}


.additional-info p {
    margin-bottom: 0.5px;
    color: rgb(39, 39, 39);
}

.future-weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.hidden {
    display: none;
}

.small-container {
    width: 15%;
    height: 100%;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    margin-bottom: 0;
}

.small-image img {
    width: 60%;
}

.date-temp {
    margin-top: -40px;
}

.small-degree {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
}

.small-date {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

body.dark-theme {
    background-color: black;
    color: white;
}

body.dark-theme header {
    border-bottom: 1px solid white;
}

body.dark-theme h1 {
    color: white;
}

body.dark-theme #submit-btn {
    color: black;
    background-color: white;
}

body.dark-theme #searchInput {
    background-color: #333;
    color: white;
    border: 1px solid white;
}

body.dark-theme .current-weather {
    background-color: #000000;
    color: white;
}

body.dark-theme .additional-info p {
    color: white;
}

.empty {
    visibility: hidden;
}

#min-temp, #max-temp, #wind, #sunset, #sunrise {
    background-color: #fffcb9;
    border-radius: 8px;
    border: 1px solid rgb(161, 161, 161);
    padding: 3px;
    margin-right: 10px;
}

body.dark-theme #min-temp,
body.dark-theme #max-temp,
body.dark-theme #wind,
body.dark-theme #sunset,
body.dark-theme #sunrise {
    background-color: #333;
    border: 1px solid #fffcb9;
}

footer {
    text-align: center;
    margin-bottom: 15px;
}

@media (max-width: 450px) {
    .empty {
        display: none;
    }

    body {
        overflow-y: hidden;
    }

    h1 {
        padding-left: 30px;
    }
    
    .switcher {
        padding-right: 30px;
    }
    
    .form {
        padding-left: 10px;
    }
    
    #searchInput {
        width: 150px;
        padding: 10px 5px 10px 5px;
    }

    #hello-image {
        width: 310px;
        height: 230px;
    }
    
    .container {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .container #hello-image {
        padding-left: 65px;
        padding-bottom: 280px;
    }
    
    .current-weather {
        height: 50%;
        align-items: center;
    }

    .weather-img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;  
    }

    .weather-img img {
        width: 60%;
        height: auto;
    }
    
    #country {
        font-size: 10px;
    }
    
    #city {
        font-size: 30px;
    }
    
    .temperature {
        font-size: 100px;
    }
    
    .additional-info {
        width: 200px;
    }
    
    .additional-info p {
        font-size: 12px;
    }
    
    .future-weather {
        width: 80%;
        margin: 50px auto;
    }
    
    .small-container {
        width: 20%;
        height: 100%;
    }
    
    .small-image img {
        width: 35px;
        margin-top: 10px;
    }
    
    .date-temp {
        margin-top: 0;
    }
    
    .small-degree {
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;
    }
    
    .small-date {
        font-size: 10px;
    }
}